.caixa {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.destaques {
    display: grid;
    gap: .2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: calc(100vh - 50px);
}

.destaques__titulo {
    color: #fdfdfd;
    background-color: #000000;
    opacity: 0.5;
    padding: .6rem;
    text-align: center;
    width: 100%;
}

.destaques__principal {
    background: url('../img/fortnite.jpg') center / cover;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* grid-column: 1 / 4; tirei pq no arquivo "responsivo tem"*/
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-row: 1 / 3;
    /* grid-row-start: 1;
    grid-row-end: 3; */
}

.destaques__secundario:nth-child(2) {
    background: url('../img/pubg.jpg') center / cover;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* grid-column: 4 / 5; */
    /* grid-column-start: 4;
    grid-column-end: 5; */
    /* grid-row: 1 / 2; */
    /* grid-row-start: 1;
    grid-row-end: 2; */
}

.destaques__secundario:nth-child(3) {
    background: url('../img/slack.png') center / cover;
    /* grid-column: 4/ 5;
    grid-row: 2/ 3; */
}

.destaques__secundario:nth-child(4) {
    background: url('../img/whatsapp.png') center / cover;
    /* grid-column: 4 / 5;
    grid-row: 3 / 4; */
}

.destaques__secundario:nth-child(5) {
    background: url('../img/cs-go.jpg') center / cover;
    /* grid-column: 3 / 4;
    grid-row: 3 / 4; */
}

.destaques__categorias {
    grid-row: 3 / 4;
}

.destaques__categorias--lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias--item {
    align-items: center;
    background: #fdfdfd;
    border-left: 5px solid transparent;
    display: flex;
    padding: 1rem;
    width: 50%;
}

.destaques__categorias--item a {
    color: #000000;
}

.destaque__categorias--link {
    color: #333333;
}
